.default {
  width: 980px;
  height: 92%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.default::-webkit-scrollbar {
  width: 5px;
}

.default::-webkit-scrollbar-thumb {
  background-color: #2c3e50;
  border-radius: 8px;
}

.default::-webkit-scrollbar-track {
  background-color: none;
  height: 90%;
}

.selected {
  width: 980px;
  height: 25%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.selected::-webkit-scrollbar {
  width: 5px;
}

.selected::-webkit-scrollbar-thumb {
  background-color: #2c3e50;
  border-radius: 8px;
}

.selected::-webkit-scrollbar-track {
  background-color: none;
  height: 90%;
}
