.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  padding: 1em;
  margin-bottom: 0.5em;
}

.logo {
  display: flex;
  cursor: pointer;
}

.youtubeIcon {
  margin-right: 0.3em;
  font-size: 25px;
  color: #e74c3c;
}

.title {
  letter-spacing: -0.07em;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 0;
  height: 40px;
  border-radius: 40px;
  transition: 300ms ease-in;
}

.searchBox:hover {
  width: 250px;
  border: 1px solid #e74c3c;
}

.searchText {
  position: absolute;
  left: 10px;
  font-family: "Montserrat", sans-serif;
  color: #2c3e50;
  font-weight: 600;
  width: 0;
  padding: 0.3em;
}

.searchBox:hover .searchText {
  width: 210px;
  transition: 500ms ease-in;
}

.searchBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #e74c3c;
  color: #fff;
  right: 0;
  border-radius: 40px;
  font-size: 18px;
  cursor: pointer;
}

.searchBox:hover .searchBtn {
  background-color: #fff;
  color: #2c3e50;
}
